<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <style>
    @import url('Roboto-Bold.ttf');
  </style>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <title>{{ site.title }}</title>
</head>

<body style='font-family: "Barlow", sans-serif!important;'>
  <a id="skip-to-content" href="#content">Skip to the content.</a>



  <!-- <div style="display: flex; background-color: black; font-color: white;">
    <div style=" flex: 1;">
      <img src="reconnect_to_chaos_website.svg" alt="" style="height: auto; width:100%;">
    </div>
    <div > -->
      <header class="page-header" role="banner"
        style="background-image: linear-gradient(120deg, #e75333, 80%, #f9be00)!important">
        <h1 class="project-name" style='font-weight: bold;'>{{ site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline" style='font-weight: bold;'>{{ site.description | default:
          site.github.project_tagline }}
        </h2>

        <a class="btn" href="/"><span class="text">Home</span></a>
        <a class="btn" href="https://tickets.ccc-p.org/rtc22/" target="_blank"><span class="text">Tickets</span></a>
        <a class="btn" href="https://cfp.ccc-p.org/rtc22/" target="_blank"><span class="text">CfP</span></a>
        <a class="btn" href="location"><span class="text">Location</span></a>
        <a class="btn" href="hygiene_concept"><span class="text">{% t global.hygiene_concept %}</span></a>
        <a class="btn" href="https://cfp.ccc-p.org/rtc22/schedule/#" target="_blank"><span class="text">{% t
            global.schedule
            %}</span></a>
        <a class="btn" href="contact"><span class="text">{% t global.contact %}</span></a>
        <br>
        {% if site.lang == "de" %}
        {% capture link1 %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
        <a href="{{ link1 }}" style="color:white">{% t global.english %}</a>
        {% elsif site.lang == "en" %}
        {% capture link2 %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
        <a href="{{ link2 }}" style="color:white">{% t global.german %}</a>
        {% endif %}
      </header>
      <main id="content" class="main-content" role="main" style=" flex: 1;">
        {{ content }}

        <!-- <footer class="site-footer">
          {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
          {% endif %}
          <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
        </footer> -->
      </main>
    <!-- </div>
    <div style=" flex: 1;">
      <img src="reconnect_to_chaos_website.svg" alt="" style="height: auto; width: 100%;">
    </div>
  </div> -->

</body>

</html>